body {
    background-color: rgb(252, 233, 210);
} 
.table {
    border-collapse: collapse; 
}

.table th,
.table td {
    border: 2px solid black;
}

.table thead th {
    border-bottom: 3px solid black; 
}
